:global {
    .ant-menu-submenu-title:hover {
      color: #5acd88 !important;
    }
    .ant-menu-item:hover {
        color: #5acd88 !important;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #0000000a;
        color: #5acd88;
    }
    .ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
        border-right:   5px solid #5acd88;
    }
    .ant-btn-primary {
        background: #5acd88;
        border-color: #5acd88;
    }
}