
@import '../../../themes/vars.less';

:global {
  .ant-input:hover {
    border-color: rgb(88, 181, 112) !important;
  }
  .ant-input:focus {
    border-color: rgb(18, 52, 86) !important;
  }
}

.backSmoothBtn {
  text-align: center;
  color: gray;
  font-size: 9px;
  margin: auto;
  display: block;
  margin-top: 15px;
}

.btn {
  background: rgb(88, 181, 112);
  border-width: initial;
  border-style: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: rgb(88, 181, 112);
  border-image: initial;
}

.btn:hover {
  background: rgb(88, 181, 112);
  border-width: initial;
  border-style: initial;
  border-color: rgb(88, 181, 112);
  border-image: initial;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 3px 0px;
}

.btn:focus {
  background: rgb(88, 181, 112);
}

.registerBtn {
  color: rgb(18, 52, 86);
  text-align: center;
  font-size: 9px;
  margin: auto;
  display: block;
  margin-top: 5px;
}

.is-invalid {
  border: 1px solid red;
}

.errorText {
  color: rgba(255, 84, 84, 0.897);
  font-weight: bold;
}

.errorAlert {
  color: red;
  text-align: center;
  margin: 20px;
  display: block;
  padding: 1px 15px !important;
  font-size: 10px;
}

.btnoffice {
    width: 80% !important;
    background-color: rgb(219, 62, 37);
    border: none;
    margin: auto;
    display: block;
}

.btnoffice:hover {
    background-color: rgb(218, 86, 65);
    border: none;
}

.spacer {
    opacity: 0.5;
    margin: 20px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 300px;
  height: 360px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  border: 5px solid rgb(18, 52, 86);
  button {
    width: 100%;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 170px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color: @primary-color;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
