
@import '../../themes/vars.less';

.textAuth {
  text-align: center;
  color: gray;
  font-size: 9px;
  margin: auto;
  display: block;
  margin-top: 15px;
}


.btnConnexion {
  background: rgb(18, 52, 86);
  border-width: initial;
  border-style: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: rgb(18, 52, 86);
  border-image: initial;
  margin-top: 20px;
}

.btnConnexion:hover {
  background: rgb(18, 52, 86);
  border-width: initial;
  border-style: initial;
  border-color: rgb(18, 52, 86);
  border-image: initial;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 3px 0px;
}



.btnInscription {
  background: rgb(88, 181, 112);
  border-width: initial;
  border-style: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: rgb(88, 181, 112);
  border-image: initial;
  margin-top: 20px;
}

.btnInscription:hover {
  background: rgb(88, 181, 112);
  border-width: initial;
  border-style: initial;
  border-color: rgb(88, 181, 112);
  border-image: initial;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 3px 0px;
}


.btnInscription:focus {
  background: rgb(88, 181, 112);
}

.spacer {
    opacity: 0.5;
    margin: 20px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 300px;
  height: auto;
  padding: 36px;
  border: 5px solid rgb(18, 52, 86);
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  border: 5px solid rgb(18, 52, 86);

  button {
    width: 100%;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 170px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color: @primary-color;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
